@using SITE.Models
@model ViewModelUsersFiles

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 well" style="margin-top:60px;height:80px">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-2">
                    <div class="dropdown" style="display:inline-block">
                        <a class="form-control dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                בחר קטגוריה
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">אפיוני פרויקטים</a></li>
                            <li><a href="#">הודעות על מסיבות</a></li>
                            <li><a href="#">מכתבי פיטורין</a></li>
                            <li><a href="#">קבצים שונים</a></li>
                           <li>@Html.ActionLink("קבצים שונות","try",new { name="diff"})</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group" style="display:inline-block;width:100%">
                        <input class="form-control" id="fileFileCreator" style="margin-right:8px;width:100%"
                               placeholder="יוצר הקובץ" oninput="filterUsersNames()" />
                        <ul id="allUsersNames" class="row" style="padding-right:22px;padding-left:6px">
                            @foreach (var user in Model.Users)
                            {
                                <li class="userName list-group-item col-sm-12" style="cursor:pointer;z-index:500"
                                    onclick="selectUser()">
                                    @user.UserName
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input type="date" class="form-control" placeholder="" style="width:100%;min-width: 178px" />
                </div>
                <p style="position: absolute;color: gray;margin-top:34px;left: 41%">טווח תאריכים של יצירת הקובץ</p>

                <div class="col-sm-2">
                    <input class="form-control" type="date" placeholder="" style="width:100%;min-width:178px" />
                </div>

                <div class="col-sm-3">
                    <input class="form-control" style="max-width:180px" type="search" placeholder="טקסט חופשי" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="filter()">חיפוש</button>
                </div>
            </div>
        </form>
    </div>
</div>
@Html.Partial("_PartialViewTable", Model)

<style>
    ul {
        direction: rtl;
    }

    td {
        width: 1px;
        white-space: nowrap;
    }

    th {
        text-align: right;
        width: 1%;
        white-space: nowrap;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%; /* Bottom of button */
        right: 0;
        margin-left: 100px; /* More to the left */
        margin-right: 0px; /* More to the left */
        width: 100%;
    }
</style>
<script>
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.form-control').html($(this).text());
        $(this).parents(".dropdown").find('.form-control').val($(this).data('value'));
    });

    function selectUser($event) {
        let currentUser = event.target.textContent;
        currentUser = currentUser.trim();
        document.getElementById('fileCreator').placeholder = currentUser;
    }
    function filter(e) {
        alert()
        debugger
        console.log(e)
    }
    $(window).load(
        function () {
            var input, filter, ul, li, a, i;
            input = document.getElementById("fileFileCreator");
            filter = input.value;
            ul = document.getElementById("allUsersNames");
            li = ul.children;
            for (var i = 0; i < li.length; i++) {        
                li[i].style.display = "none";
            }
        }
    )

    function filterUsersNames() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("fileFileCreator");
        filter = input.value;
        ul = document.getElementById("allUsersNames");
        li = ul.children;
        for (var i = 0; i < li.length; i++) {
            if (li[i].textContent.indexOf(filter) > -1) {
                li[i].style.display = "block";
            } else {
                li[i].style.display = "none";
            }
        }
    };
</script>
<script type="text/javascript">
</script>