@using SITE.Models
@model ViewModelUsersFiles

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 well" style="margin-top:60px;height:80px">
        <form class="form-inline">
            <div class="row">
                <div class="col-sm-2">
                    <div class="dropdown" style="display:inline-block">
                        <a class="form-control dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                בחר קטגוריה
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">אפיוני פרויקטים</a></li>
                            <li><a href="#">הודעות על טיולים</a></li>
                            <li><a href="#">מכתבי פיטורין</a></li>
                            <li><a href="#">שונות</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group" style="display:inline-block;width:100%">
                        <input class="form-control dropdown-toggle" role="button" id="fileCreator" name="emailAddress" style="margin-right:8px;width:100%"
                               data-toggle="dropdown" aria-haspopup="true" type="text" aria-expanded="false" placeholder="יוצר הקובץ" />

                        <!--   <input style="z-index:100;width: inherit" multiple="multiple" class="form-control" placeholder="יוצר קובץ" id="fileCreator" name="emailAddress" oninput="filterEmail()">
                        -->
                        <ul id="divListGroupEmail" class="dropdown-menu">
                            @foreach (var user in Model.Users)
                            {
                                <li class="list-group-item">
                                    <a href="#">@user.UserName</a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input type="date" class="form-control" placeholder=""
                           style="width:100%;min-width: 178px" />
                </div>
                <p style="position: absolute;color: gray;margin-top:34px;left: 41%">טווח תאריכים של יצירת הקובץ</p>

                <div class="col-sm-2">
                    <input class="form-control"type="date" placeholder="" style="width:100%;min-width:178px" />
                </div>

                <div class="col-sm-3">
                        <input class="form-control" style="max-width:180px" type="search" placeholder="טקסט חופשי" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="filter()">חיפוש</button>
                    </div>
            </div>
        </form>
    </div>
</div>

@Html.Partial("_PartialViewTable", Model)

<style>
    ul {
        direction: rtl;
    }

    td {
        width: 1px;
        white-space: nowrap;
    }

    th {
        text-align: right;
        width: 1%;
        white-space: nowrap;
    }

    .dropdown {
       // margin-top: 20px;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%; /* Bottom of button */
        right: 0;
        margin-left: 100px; /* More to the left */
        margin-right: 0px; /* More to the left */
        width: 100%;
    }
</style>
<script>

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text());
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });

    function selectUser($event) {
        let currentUser = event.target.textContent;
        document.getElementById('fileCreator').value = currentUser;

        console.log(document.getElementById('#fileCreator'));


    }

    function filter($event) {
        console.log(event)
        debugger
    }
</script>
<script type="text/javascript">

</script>


